@import "src/theme/variables";
:host {
  display: flex;
  flex-wrap: wrap;
}
.tag {
  padding: 6px;
  background-color: $dark-light;
  border-radius: 8px;
  color: $gray;
  margin: 8px 8px 0px 0px;
  cursor: pointer;

  &.active {
    background-color: $blue;
    color: $white;
  }
}
